<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnableAutoOpen</key>
	<true/>
	<key>CheckOfficialProgram</key>
	<true/>
	<key>CheckOfficialChannel</key>
	<false/>
	<key>WatchListTable</key>
	<array>
		<dict>
			<key>AutoOpen</key>
			<false/>
			<key>WatchItem</key>
			<string>ch2525</string>
			<key>Note</key>
			<string>ニコニコにゅーすちゃんねる</string>
		</dict>
		<dict>
			<key>AutoOpen</key>
			<false/>
			<key>WatchItem</key>
			<string>co387285</string>
			<key>Note</key>
			<string>名称未設定 (Чайка)</string>
		</dict>
		<dict>
			<key>AutoOpen</key>
			<false/>
			<key>WatchItem</key>
			<string>6347612</string>
			<key>Note</key>
			<string>Чайка(ちゃいか)</string>
		</dict>
	</array>
	<key>DoNotAutoOpenInMyBroadcast</key>
	<true/>
	<key>KickCommentViewerAtAutoOpen</key>
	<false/>
	<key>KickCommentViewerByOpenFromMe</key>
	<false/>
	<key>KickCommentViewerOnMyBroadcast</key>
	<false/>
	<key>KickStreamer</key>
	<false/>
</dict>
</plist>
